<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAPlbuVTUphRp-79e4zaSW0u6ZXOuRJEZA</string>
	<key>GCM_SENDER_ID</key>
	<string>709166762892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kebab</string>
	<key>PROJECT_ID</key>
	<string>myflutter-7ff03</string>
	<key>STORAGE_BUCKET</key>
	<string>myflutter-7ff03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709166762892:ios:7feb04543c38565412e4a9</string>
</dict>
</plist>